{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block body %}
    <h1>{% trans "Dashboard" %}</h1>
    <hr>
        <h2>{% trans "Pedal settings" %}</h2>
        <p>{% blocktrans %}
            The orchestral harp has 7 pedals, one for each pitch class. Each pedal has three possible positions: flat, natural or sharp.
            We call each permutation of these 7 pedals in the three positions <b>pedal settings</b>.
            There are 2187 possible pedal settings in the harp. We create a harp pedal settings index.
        {% endblocktrans %}</p>

        <h2>{% trans "Queries" %}</h2>
        <p>{% blocktrans %}
            This app provides a full list with all pedal 2187 settings, a table to download, and four ways to query pedal settings:
        {% endblocktrans %}</p>
        <ul>
            <li>{% trans "by index" %}</li>
            <li>{% trans "by the resulting pitch set class prime form" %}</li>
            <li>{% trans "by the pitch accidents" %}</li>
        </ul>
        <p>{% trans "These queries are available in the sidebar." %}</p>

        <h2>{% trans "Statistics" %}</h2>
        <p>{% blocktrans %}
            There are some statistics available, with sonority central tendency, chord type distribution, etc.
        {% endblocktrans %}</p>


{% endblock %}