{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Get by index" %}
{% endblock %}

{% block body %}
<h1>{% trans "Get by index" %}</h1>

<form action="{% url 'get_by_index' %}" method="post">
    {% csrf_token %}
     <div class="col-lg-6">
        <div class="input-group">
            <input id="id_settings_index" maxlength="4" name="settings_index" type="text"
                   class="form-control" placeholder="{% trans "Insert an index number between 1 and 2187..." %}">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value={% trans "Submit" %} />
            </span>
        </div>
     </div>
</form>

{% endblock %}