{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if settings %}
    <p>{{ settings }} {% trans "pedals settings" %}</p>
    {% endif %}
          <div class="table-responsive">
            <table id="pedals_table" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>{% trans "Index" %}</th>
                    <th>{% trans "Notes" %}</th>
                    <th>{% trans "PC Set" %}</th>
                    <th>{% trans "Prime Form" %}</th>
                    <th>{% trans "Pedals settings" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for row in df.values %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                    <td><img src="{{ STATIC_URL }}img/{{ row.0 }}.png"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}

{% block javascript %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pedals_table').DataTable();
        } );
</script>
{% endblock %}