{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dispositions_extras %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<h1>{% trans "All pedal settings" %}</h1>
<hr>

    {% if settings %}
    <p>{{ settings }} {% trans "pedals settings" %}</p>
    {% endif %}
          <div class="table-responsive">
            <table id="pedals_table" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>{% trans "Index" %}</th>
                    <th>{% trans "Notes (scalar)" %}</th>
                    <th>{% trans "Notes (radial)" %}</th>
                    <th>{% trans "PC Set" %}</th>
                    <th>{% trans "Prime Form" %}</th>
                    <th>{% trans "Forte Class" %}</th>
                    <th>{% trans "Pedals Settings" %}</th>
                    <th>{% trans "MIDI file" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for index, row in df.iterrows %}
                <tr>
                    {% if radial %}
                    <td>{{ index|radial_format }}</td>
                    {% else %}
                    <td>{{ index|scalar_format }}</td>
                    {% endif %}
                    <td>{% dict_get row 'Notes (scalar)' %}</td>
                    <td>{% dict_get row 'Notes (radial)' %}</td>
                    <td>{% dict_get row 'PC Set' %}</td>
                    <td>{% dict_get row 'Prime Form' %}</td>
                    <td>{% dict_get row 'Forte class' %}</td>
                    <td>
                        <svg width="80" height="24">
                            <line x1="0" y1="12" x2="80" y2="12" style="stroke:rgb(0,0,0);stroke-width:1"/>
                            <line x1="35" y1="0" x2="35" y2="24" style="stroke:rgb(0,0,0);stroke-width:1"/>

                            <rect x="5" y="{% get_accident row.Accidents 'd' 7 %}" width="4" height="10" />
                            <rect x="15" y="{% get_accident row.Accidents 'c' 7 %}" width="4" height="10" />
                            <rect x="25" y="{% get_accident row.Accidents 'b' 7 %}" width="4" height="10" />

                            <rect x="40" y="{% get_accident row.Accidents 'e' 7 %}" width="4" height="10" />
                            <rect x="50" y="{% get_accident row.Accidents 'f' 7 %}" width="4" height="10" />
                            <rect x="60" y="{% get_accident row.Accidents 'g' 7 %}" width="4" height="10" />
                            <rect x="70" y="{% get_accident row.Accidents 'a' 7 %}" width="4" height="10" />
                        </svg>
                    </td>
                    <td><a href="{{ STATIC_URL }}midi/{{ index }}.mid">{{ index }}.mid</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pedals_table').DataTable({
                "language": {
                    "url": "{{ language_url }}"
                }
            });
        } );
</script>
{% endblock %}