{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Get by prime form" %}
{% endblock %}

{% block body %}
<h1>{% trans "Get by prime form" %}</h1>
<hr>

<form action="{% url 'get_by_prime' %}" method="post">
    {% csrf_token %}
     <div class="col-lg-6">
        <div class="input-group">
            <input id="id_settings_prime" minlength="4" maxlength="7" name="settings_prime" type="text"
                   class="form-control" placeholder="{% trans "Insert a pcset prime form such as 02468A..." %}">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value={% trans "Submit" %} />
            </span>
        </div>
     </div>
</form>

{% endblock %}