{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
<h1>{% trans "All pedal settings" %}</h1>
<hr>

    {% if settings %}
    <p>{{ settings }} {% trans "pedals settings" %}</p>
    {% endif %}
          <div class="table-responsive">
            <table id="pedals_table" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>{% trans "Index" %}</th>
                    <th>{% trans "Notes" %}</th>
                    <th>{% trans "PC Set" %}</th>
                    <th>{% trans "Prime Form" %}</th>
                    <th>{% trans "Forte Class" %}</th>
                    <th>{% trans "Pedals Settings" %}</th>
                    <th>{% trans "MIDI file" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for index, row in df.iterrows %}
                <tr>
                    <td>{{ index }}</td>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                    <td><img src="{{ STATIC_URL }}img/{{ index }}.png"></td>
                    <td><a href="{{ STATIC_URL }}midi/{{ index }}.mid">{{ index }}.mid</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}

{% block javascript %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#pedals_table').DataTable({
                "language": {
                    "url": "{{ language_url }}"
                }
            });
        } );
</script>
{% endblock %}